.navbar {
  width: 100%;
  background-color: #0a66c2;
  padding: 16px 0;
}

.navbar-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.theme-btn {
  background: white;
  color: #0a66c2;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}
